#calculator {
    margin: auto;
    width: 400px;
    margin-top: 50px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background: gray;
    padding: 20px;
    border-radius: 20px;
}
#calculator input {
    grid-column-start: 1;
    grid-column-end: 5;
    border-radius: 10px;
    font-family: monospace;
    font-size: 30px;
    text-align: right;
}
#calculator button {
    height: 75px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 20px;
}
