<html>
    <head>
        <title>Administrator Login</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/login.css')}}">
    </head>

    <body>
        <nav>
            <a href="/"><img src="{{url_for('static', filename='icons/home.png')}}" width="20px" height="20px"></a>
            <a href="/login">Admin Dashboard</a>
            <a href="/flag-generator">Flag Generator</a>
            <a href="/calculator">Calculcator</a>
        </nav>
        
        <div id="flag-box">
            <h1>Welcome, admin!  Here is your flag.</h1>
            <h2>flag{3ncrypt_y0ur_c00k135}</h2>
        </div>
    </body>
</html>
