<html>
    <head>
        <title>RCCTF Web</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/styles.css')}}">
    </head>

    <body>
        <nav>
            <a href="/"><img src="{{url_for('static', filename='icons/home.png')}}" width="20px" height="20px"></a>
            <a href="/login">Admin Dashboard</a>
            <a href="/flag-generator">Flag Generator</a>
            <a href="/calculator">Calculcator</a>
        </nav>
        
        <p>Hey Jeff, make sure you add this page to the robots file.  We don't want this showing up on search engines.<br><br><strong>flag{w3b_cr4w13r_ru135}</strong></p>
    </body>
</html>
